* {
    box-sizing:border-box;
    font-size: 16px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

:root {
    --background: rgb(66, 98, 196);
    --header: rgb(0, 60, 255);
}

body {
    background-color: var(--background);
}

.header {
    text-align:center;
    font-size: 100px;
    background-color: var(--header);
}

.quiz {
    visibility: hidden;
}

.end{
    visibility: hidden;
}