* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}

:root {
    --background: rgb(129, 155, 231);
    --header: rgb(0, 60, 255);
}
header {
    margin:0;
    text-align:center;
    font-size: 30px;
    background-color: var(--header);
}

body {
    background-color: var(--background);
}
main{
    display:flex;
    flex-direction: column;
}

.timer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quiz {
    visibility: hidden;
}

.startBtn {
    margin:auto;
}

.choiceBox{
    
}


section p {
    visibility: hidden;
    text-align: center;
}

.initials {
    display: none;
    max-width: 10px;
}

form {
    display:  none;
}